{{/* vim: ft=gohtmltmpl
*/}}
{{ partial "header" . }}
{{ partial "topnav" . }}

{{/*
{{ partial "bread.html" . }}
*/}}

{{/*
  <section class="mdl-grid section--center mdl-grid--no-spacing mdl-shadow--2dp">
*/}}

<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4>Welcome to my blog</h4>
          Subscribe to this page with your RSS reader.
        </div>
      </div>
    </div>

    {{ range .Paginator.Pages }}
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            <h4>
              <a href="{{ .RelPermalink }}" style="text-decoration:none">{{ .Title }}</a>
              &ndash; {{ .Date.Format "02 Jan 2006" }}
            </h4>
            {{ if .Truncated }}
              {{ .Summary }}
            {{ else }}
              {{ .Content }}
            {{ end }}
          </div>
          <div class="mdl-card__actions mdl-color-text--grey-600">
            <a class="mdl-button" href="{{ .RelPermalink }}">Read More…</a>
          </div>
        </div>
      </div>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
  </div>


  {{ partial "footer" . }}
</main>

