{{/* vim: ft=gohtmltmpl
*/}}
{{ partial "header" . }}
{{ partial "topnav" . }}

{{/*
{{ partial "bread.html" . }}
*/}}

<style type="text/css">
  .markdown-compiled p {
    font-size: 14pt;
  }
  .markdown-compiled h1 {
    font-size: 24pt;
  }
</style>

<main class="mdl-layout__content">
  <section class="mdl-grid section--center" style="width: 100%">
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h2>{{ .Title }} <small></small></h2>
          <div class="crawl-me markdown-compiled" data-boost="0.8">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "footer" . }}
</main>

