{{/* vim: ft=gohtmltmpl
*/}}
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">About</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer--drop-down-section">
      <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer--heading">Details</h1>
      <ul class="mdl-mega-footer--link-list">
        <li><a href="#">Spec</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </div>
  </div>
  {{/*
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy and Terms</a></li>
    </ul>
  </div>
  */}}
</footer>

</main>
</div>

<script data-no-instant src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
<script data-no-instant src="{{ "js/jquery-2.1.4.min.js" | relURL }}"></script>
<script data-no-instant src="{{ "js/lodash.min.js"       | relURL }}"></script>
<script data-no-instant src="{{ "js/react-with-addons-0.13.3.min.js" | relURL }}"></script>
<script data-no-instant src="{{ "js/instantclick.js"     | relURL }}"></script>
<script data-no-instant src="{{ "js/highlight.pack.js"   | relURL }}"></script>
<script data-no-instant src="{{ "js/rx.lite.min.js"      | relURL }}"></script>
<script>
window.onDocLoad = function(handler) {
  InstantClick.on('change', handler);
}
</script>
<script>
window.onDocLoad(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
<script data-no-instant>InstantClick.init(5);</script>
</body>
</html>
