{{/* vim: ft=gohtmltmpl
*/}}
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab mdl-color-text--white is-active">Home</a>
    <a href="#features" class="mdl-layout__tab mdl-color-text--white">Blog</a>
    <a href="#features" class="mdl-layout__tab mdl-color-text--white">Projects</a>
    <a href="#features" class="mdl-layout__tab mdl-color-text--white">Contact</a>
  </div>
</header>
