{{/* vim: ft=gohtmltmpl
*/}}
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="{{ "/"          | relURL }}" class="mdl-layout__tab mdl-color-text--white">Home</a>
    <a href="{{ "/blog/"     | relURL }}" class="mdl-layout__tab mdl-color-text--white">Blog</a>
    <a href="{{ "/projects/" | relURL }}" class="mdl-layout__tab mdl-color-text--white">Projects</a>
    <a href="{{ "/contact/"  | relURL }}" class="mdl-layout__tab mdl-color-text--white">Contact</a>
  </div>
</header>
