{{ partial "header" . }}
{{ partial "topnav" . }}

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome</h3>
        </div>
        <div class="panel-body">
          <h4>
            Welcome to my personal web site
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">My research</h3>
        </div>
        <div class="panel-body">
          <a href="{{.Site.Params.Root}}research/">Check it out</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">My classes</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="{{.Site.Params.Root}}classes/eleg969">ELEG 969</a>
            <li><a href="{{.Site.Params.Root}}classes/eleg970">ELEG 970</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="list-group">
        <a href="{{.Site.Params.Root}}news/"
          class="list-group-item list-group-item-success">
            <i class="glyphicon glyphicon-flash"></i>
            Latest News
        </a>
        <!-- Display the latest news articles title & link it -->
        {{range first 3 (where .Data.Pages "Section" "news") }}
        <a href="{{.RelPermalink }}"
          class="list-group-item">
            <span class="badge">{{ .Date.Format "02 Jan" }}</span>
            {{ .Title }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">CV</h3>
        </div>
        <div class="panel-body">
          <a href="/cv/">My Curriculum Vitae</a>
        </div>
      </div>
    </div>
  </div>

</div>

{{ partial "footer" . }}
