{{/* vim: ft=gohtmltmpl
*/}}
{{ partial "header" . }}
{{ partial "topnav" . }}

<main class="mdl-layout__content mdl-color--grey-100">
  <section class="mdl-grid section--center">
    <div class="mdl-grid mdl-cell mdl-cell--6-col mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4>About me</h4>
          Hello, my name is Andr&#xe9; Rauh.<br>
          Welcome to my website.
        </div>
        <div class="mdl-card__actions">
          <a href="{{ "/contact/" | relURL }}" class="mdl-button">Contact me</a>
        </div>
      </div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--6-col mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4>Latest Posts</h4>
          {{/* Display the latest news articles title & link it */}}
          {{range first 3 (where .Data.Pages "Section" "blog") }}
            <a class="mdl-button mdl-js-button mdl-button--accent"
               href="{{ .RelPermalink }}">
              {{ .Title }} ({{ .Date.Format "02 Jan" }})
            </a><br>
          {{ else }}
            No posts :(
          {{ end }}
        </div>
        <div class="mdl-card__actions">
          <a href="{{ "/blog/" | relURL }}" class="mdl-button">All Posts</a>
        </div>
      </div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--6-col mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h4>Projects</h4>
          {{range first 10 (where .Data.Pages "Section" "projects") }}
            <a class="mdl-button mdl-js-button mdl-button--accent"
               href="{{ .Params.github }}">
              {{ .Title }}
            </a><br>
          {{ end }}
        </div>
        <div class="mdl-card__actions">
          <a href="{{ "/projects/" | relURL }}" class="mdl-button">All Projects</a>
        </div>
      </div>
    </div>
  </section>

  {{ partial "footer" . }}
</main>

