{{/* vim: ft=gohtmltmpl
*/}}
{{ partial "header" . }}
{{ partial "topnav" . }}

{{/*
{{ partial "bread.html" . }}
*/}}

{{/*
  <section class="mdl-grid section--center mdl-grid--no-spacing mdl-shadow--2dp">
*/}}

<main class="mdl-layout__content">
  <div class="mdl-grid">

      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            TODO
          </div>
        </div>
      </div>

  </div>

  {{ partial "footer" . }}
</main>


